<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <!-- Input file 1 settings >> Exigences EDF -->
    <!--<add key="InputFile1_SheetName" value="Exigences SdF"/>-->
    <add key="InputFile1_SheetName" value="Synthese"/>
    <!-- Index of the row header (first row has index 0)-->
    <add key="InputFile1_Header_RowIndex" value="4"/>
    <add key="InputFile1_Column_Exigences" value="32"/>     <!-- Starting index of applicability cols [empty cols on the start of the row are not count!]-->
    <add key="InputFile1_Column_FailureName" value="device_faulttype"/>   <!--Exigences Diagnostics SdF-->
    <add key="InputFile1_Column_DegradationMode" value="Downgraded mode requirement"/>   <!--Mode dégradé-->
    <add key="InputFile1_Column_G" value="Warning lamp"/>
    <add key="InputFile1_Column_GEE" value="Warning message"/>
    <add key="InputFile1_NoDegradationMode" value="Pas de mode dégradé"/>
    <!-- End input file 1 settings -->
    
    <!-- Input file 2 settings >> Failure procedures -->
    <add key="InputFile2_Name" value="Failure_procedures.xlsx"/>
    <add key="InputFile2_SheetName_Activate" value="Activate"/>
    <add key="InputFile2_SheetName_Deactivate" value="Deactivate"/>
    <add key="InputFile2_SheetName_DiagEna" value="DiagEna"/>
    <add key="InputFile2_SheetName_InitialConditions" value="InitialConditions"/>
    <add key="InputFile2_SheetName_MDS_Diesel" value="MDS_Diesel"/>
    <add key="InputFile2_SheetName_MDS_Gazoline" value="MDS_Gazoline"/>
    <add key="InputFile2_Header_RowIndex" value="2"/>
    <!-- End input file 2 settings -->

    <!-- Input file 3 settings >> Homologation table -->
    <add key="InputFile3_SheetName" value="Tableau_Homologation"/>
    <!-- Index of the row header (first row has index 0)-->
    <add key="InputFile3_Header_RowIndex" value="1"/>
    <add key="InputFile3_Column_Exigences" value="Diag Name"/>
    <add key="InputFile3_Column_MIL" value="Allumage MIL"/>
    <add key="InputFile3_Column_DrivingCycles" value="Critères diagnostic défaillance (*)"/>
    <add key="InputFile3_Column_FailingDiagCodes_Mappings" value="A3,B3,F3,G2,H1,J5,L5,M5"/>
    <!-- End input file 2 settings -->
    
    <!-- Output file settings -->
    <add key="OutputFile_Template" value="Template.xlsx"/>
    <add key="OutputFile_SheetName" value="Sheet1"/>
    <add key="OutputFile_SheetFuelTypeName" value="ModeDegrade"/>
    <!-- End output file settings -->
  </appSettings>
</configuration>
